<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ 'Stories' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ 'Stories' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="8" offset-md="2">
                <ion-item *ngFor="let category of availableCategories; let i = index" [button]="true"
                          (click)="openCategory(category)"> {{ 'CATEGORIES.' + category | uppercase | replaceCharacter : ' ' | translate }}
                    <!-- Show total amount of sentences in category at end of the item-->
                    <ion-note slot="end">{{ sentenceCountByCategory[category] }}</ion-note>
                </ion-item>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
