<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{ "LANGUAGES.BASE" | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button default-href="tabs/settings" text="{{ 'BUTTONS.BACK' | translate }}"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list [inset]="true">
        <ion-item *ngFor="let language of availableLanguages" (click)="userLanguageChanged(language)">
            <ion-label>{{ 'LANGUAGES.' + language | uppercase | translate }}</ion-label>
            <ion-icon slot="end" *ngIf="userSelectedLanguage.includes(language)"
                      name='checkmark'></ion-icon>
            <ion-icon slot="end" *ngIf="!userSelectedLanguage.includes(language)"
                      name=''></ion-icon>

        </ion-item>

    </ion-list>
</ion-content>
