<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ 'CATEGORIES.' + category | uppercase | replaceCharacter: ' ' | translate }}
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>

            <ion-col size="12" size-md="8" offset-md="2">
                <ion-list *ngFor="let group of sentencesGroupedByAge" lines="none">
                    <!-- Iterate over all sentences but group them by age -->
                    <ion-list-header>
                        <ion-label><h1>{{ 'AGE' | translate }}: {{ group.age }}</h1></ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let cSentence of group.sentences; let i = index">
                        <ion-card>
                            <ion-card-content>
                                <p>{{ cSentence.sentence }}</p>
                            </ion-card-content>
                        </ion-card>
                    </ion-item>


                </ion-list>
            </ion-col>

            <!--<ion-col size="12" size-md="8" offset-md="2"
                     *ngFor="let cSentence of coloredSentences; let i = index">



            </ion-col> -->
        </ion-row>
    </ion-grid>

</ion-content>

