<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ 'CATEGORIES.' + category | uppercase | replaceCharacter: ' ' | translate }}
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="8" offset-md="2"
                     *ngFor="let cSentence of coloredSentences; let i = index">

                <ion-card >
                    <ion-card-header>
                        <ion-card-title>{{ 'CATEGORIES.' + cSentence.sentence.category | uppercase | replaceCharacter : ' ' | translate }}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>{{ cSentence.sentence.sentence }}</p>
                        <p> {{'AGE' | translate}}: {{cSentence.sentence.age}}</p>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

