<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ 'Stories' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ 'Stories' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>



        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="4" size-lg="3" size-xl="3" *ngFor="let sentence of sentenceForCategory; let i = index">
                    <ion-card class="animal-card" [ngStyle]="{'background-color': colors[i]}">
                        <img src="{{sentence.category | transformCategoryToImage}}" class="animal-image"  alt="{{sentence.category}}-category-image"/>
                        <ion-card-header>
                            <ion-card-title>{{ 'CATEGORIES.' + sentence.category | uppercase | replaceCharacter : ' ' | translate }}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p>{{sentence.sentence.sentence}}</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>


</ion-content>
