<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Settings</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid class="buoyancy-container">
        <ion-row>
            <ion-col size="12" size-md="8" offset-md="2">
                <form [formGroup]="ageForm" #formAge="ngForm" *ngIf="ageForm">
                    <ion-list lines="full">
                        <!-- Use an ion-card for each form group to give a card-style appearance -->
                        <ion-card>
                            <ion-card-content>
                                <ion-item>
                                    <ion-input type="number" formControlName="age" label-placement="stacked"
                                               label="Age:"
                                               placeholder="Enter 0 to remove age restrictions"></ion-input>
                                </ion-item>
                                <!-- Error messages -->
                                <ion-text color="danger"
                                          *ngIf="age?.invalid && (age?.dirty || age?.touched)">
                                    <p class="ion-padding-start">
                                        <small *ngIf="age?.errors?.['required']"> Age is
                                            required.</small>
                                        <small *ngIf="age?.errors?.['min']">The minimum age
                                            is 1.</small>
                                        <small *ngIf="age?.errors?.['max']">The maximum age
                                            is 99.</small>
                                    </p>
                                </ion-text>
                            </ion-card-content>
                        </ion-card>
                    </ion-list>
                </form>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" size-md="8" offset-md="2">
                <ion-list lines="inset">
                    <ion-list-header>
                        <ion-label>Age</ion-label>

                    </ion-list-header>
                    <ion-item>
                        <form [formGroup]="ageForm" #formAge="ngForm" *ngIf="ageForm">
                            <ion-input type="number" formControlName="age" label-placement="stacked"
                                       label=""
                                       placeholder="Enter 0 to remove age restrictions"></ion-input>

                            <!-- Error messages -->
                            <ion-text color="danger"
                                      *ngIf="age?.invalid && (age?.dirty || age?.touched)">
                                <p class="ion-padding-start">
                                    <small *ngIf="age?.errors?.['required']"> Age is
                                        required.</small>
                                    <small *ngIf="age?.errors?.['min']">The minimum age
                                        is 1.</small>
                                    <small *ngIf="age?.errors?.['max']">The maximum age
                                        is 99.</small>
                                </p>
                            </ion-text>

                        </form>
                    </ion-item>

                    <ion-list-header>
                        <ion-label>Categories</ion-label>
                        <ion-button (click)="resetCategories()">Reset</ion-button>
                    </ion-list-header>
                    <ion-item *ngFor="let category of availableCategories"
                              (click)="!userSelectedCategories.includes(category) ? selectCategory(category) : deselectCategory(category)">
                        <ion-label>{{ category }}</ion-label>
                        <ion-icon slot="end" *ngIf="userSelectedCategories.includes(category)"
                                  name='checkmark'></ion-icon>
                        <ion-icon slot="end" *ngIf="!userSelectedCategories.includes(category)"
                                  name=''></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
