<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{ "LOCAL_NOTIFICATIONS.NOTIFICATIONS" | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button default-href="tabs/settings"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list lines="none">
        <ion-item>
            <ion-toggle justify="space-between" [(ngModel)]="notificationActive"
                        (ionChange)="activateDailyNotifications($event)">{{ 'LOCAL_NOTIFICATIONS.SCHEDULED' | translate }}
            </ion-toggle>
        </ion-item>
        <ion-item *ngIf="notificationActive">
            <ion-segment value="{{selectedSegment}}" (ionChange)="notificationTimeChanged($event)" [scrollable]="true"
                         class="centered-segment">
                <ion-segment-button value="9">
                    <ion-label>{{ formatTime(9) }}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="12">
                    <ion-label>{{ formatTime(12) }}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="15">
                    <ion-label>{{ formatTime(15) }}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="18">
                    <ion-label>{{ formatTime(18) }}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="21">
                    <ion-label>{{ formatTime(21) }}</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-item>
    </ion-list>
</ion-content>
