<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title (click)="activateDebugMode()">
            {{ 'SETTINGS' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-col size="12" size-md="8" offset-md="2">
        <ion-list lines="inset">
            <ion-list-header>
                <ion-label>{{ 'PERSONAL' | translate }}</ion-label>

            </ion-list-header>
            <ion-item [button]="true" (click)="openNotificationsMenu()">
                <ion-label>{{ "LOCAL_NOTIFICATIONS.NOTIFICATIONS" | translate }}</ion-label>
                <ion-note slot="end">{{ notificationTime }}</ion-note>
            </ion-item>
            <ion-item [button]="true" (click)="openAgeMenu()">
                <ion-label>{{ "AGE_RESTRICTIONS.BASE" | translate }}</ion-label>
                <ion-note slot="end">{{ ageRestrictionLabel }}</ion-note>
            </ion-item>
            <ion-item [button]="true" (click)="openLanguageMenu()">
                <ion-label>{{ "LANGUAGE" | translate }}</ion-label>
                <ion-note slot="end">{{ userSelectedLanguage | languageId }}</ion-note>
            </ion-item>
            <ion-item [button]="true" (click)="openCategoryMenu()">
                <ion-label>{{ "CATEGORIES.BASE" | translate }}</ion-label>
                <ion-note slot="end">{{ userSelectedCategories.length }}</ion-note>
            </ion-item>
            <ion-item>
                <ion-toggle justify="space-between" [(ngModel)]="textToSpeechToggler"
                            (ionChange)="toggleTextToSpeech($event)">{{ 'TEXT_TO_SPEECH' | translate }}
                </ion-toggle>
            </ion-item>


            <ion-list-header>
                <ion-label>{{ "PRIVACY" | translate }}</ion-label>
            </ion-list-header>
            <ion-item [button]="true" (click)="toPrivacy()">
                <ion-label>{{ "PRIVACY_POLICY" | translate }}</ion-label>
            </ion-item>


            <ion-list-header *ngIf="isDebugModeActive">
                <ion-label>DEBUG</ion-label>
                <ion-button (click)="disableDebugMode()">Disable</ion-button>
            </ion-list-header>
            <ion-item *ngIf="isDebugModeActive">
                <ion-label>Pending Daily Notifications: {{ pendingNotifications.length }}</ion-label>
            </ion-item>
            <ng-container *ngIf="isDebugModeActive"></ng-container>
            <ion-item *ngFor="let notification of pendingNotifications">

                <ion-label>Next Daily
                    Notifications: {{ notification | json }}
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-col>


</ion-content>
